<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="admin.css">
    <title>Admin Page</title>
</head>

<body>
    <div class="navbar">
        <a href="/admin" class="admin-ava">
            <img src="adminlogo.jpg" alt="logo">
            <p>Admin</p>
        </a>

        <a href="/" class="logout">
            <p>Logout</p>
            <img src="logout.png" alt="logo">
        </a>

    </div>

    <div class="container">

        <div class="card">
            <img src="teacher1.png" alt="logo">
            <a href="/addteacher"><button class="btn">Add Teacher</button></a>
        </div>

        <div class="card">
            <img src="class.png" alt="logo">
            <a href="/addclass"><button class="btn">Add Class</button></a>
        </div>

        <div class="card">
            <img src="student.png" alt="logo">
            <a href="/addstudent"><button class="btn">Add Students</button></a>
        </div>

    </div>

</body>

</html>