<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="teacherpage.css">
    <title>Meeting</title>
</head>

<body>
    <div class="navbar">
        <a href="/teacher" class="admin-ava">
            <img src="adminlogo.jpg" alt="logo">
            <p>Home</p>
        </a>

        <a href="/" class="logout">
            <p>Logout</p>
            <img src="logout.png" alt="logo">
        </a>

    </div>

    <div id="video-con">
        <video autoplay="true" id="videoElement"></video>
    </div>

    <div class="vi-btns">
    <button class="btn" id="on-video">Turn on video</button>
    <button class="btn" id="on-mic">Turn on mic</button>
</div>

    <script src="meeting.js"></script>
</body>

</html>