<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="teacherpage.css">
    <title>Teacher Home</title>
</head>

<body>
    <div class="navbar">
        <a href="/teacher" class="admin-ava">
            <img src="adminlogo.jpg" alt="logo">
            <p>Home</p>
        </a>

        <a href="/" class="logout">
            <p>Logout</p>
            <img src="logout.png" alt="logo">
        </a>

    </div>
    <div class="container">
        <a href="meeting" class="meeting card">
            <img src="meeting.jpg" alt="logo">
           <button class="btn">Start Meeting</button>
        </a>

        <a href="/giveassignment" class="assignment card">
            <img src="assignment.jpg" alt="logo">
            <button class="btn">Give Assignment</button>
        </a>
    </div>

</body>

</html>